@section Styles {
    <link rel="stylesheet" href="~/css/home.css" />
}

<div class="home-hero">
    <div class="container text-center">
        <h1 class="display-4 fw-bold">Spor Salonumuza Hoş Geldiniz!</h1>
    </div>
</div>
