@model yeniWeb.Models.Salon

<h2>Salon Detay</h2>

<dl class="row">
    <dt class="col-sm-2">Salon Adı</dt>
    <dd class="col-sm-10">@Model.SalonId</dd>

    <dt class="col-sm-2">Salon Adı</dt>
    <dd class="col-sm-10">@Model.SalonAdi</dd>

    <dt class="col-sm-2">Çalışma Saatleri</dt>
    <dd class="col-sm-10">@Model.CalismaSaatleri</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.SalonId" class="btn btn-warning">Düzenle</a>
<a asp-action="Index" class="btn btn-secondary">Geri</a>
