.home-hero {
    min-height: calc(100vh - 56px);
    background: linear-gradient(rgba(0,0,0,.55), rgba(0,0,0,.55)), url('/images/salon2.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;

}
.home-hero h1{
    color:snow;
}