html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.navbar {
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}
/* Navbar */
.main-navbar {
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.navbar-brand {
    letter-spacing: -0.4px;
    font-size: 1.2rem;
}

.main-navbar .nav-link {
    color: #333 !important;
    font-weight: 500;
}

    .main-navbar .nav-link:hover {
        color: #0d6efd !important;
    }
.main-navbar .btn {
    border-radius: 10px;
    padding: 6px 14px;
    font-weight: 600;
}


/* API linkleri “pill” gibi dursun */
.nav-pill {
    background: #f1f3f5;
    border-radius: 10px;
    padding: 6px 10px !important;
    border: 1px solid #e2e6ea;
}

    .nav-pill:hover {
        background: #e9ecef;
    }

.auth-bg {
    background-color: #f2f2f2; /* orta ton gri */
    min-height: calc(100vh - 56px);
}


.card.rounded-4 {
    border-radius: 1rem;
}



.card.rounded-4 {
    border-radius: 1rem;
}

.auth-card {
    background-color: #ffffff;
    border-radius: 18px;
    border: 1px solid #dedede;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08), 0 2px 8px rgba(0, 0, 0, 0.04);
    margin-top: 0.5rem;
}
.auth-card .form-control {
    background-color: #f8f9fa;
    border: 1px solid #dcdcdc;
}

.auth-card .form-control:focus {
    background-color: #ffffff;
}    

.auth-card a {
        color: #0d6efd;
        font-weight: 500;
    }



.auth-subtitle {
    color: #6c757d;
    font-size: 0.95rem;
    margin-bottom: 1.5rem;
}
.page-bg {
    background-color: #f4f6f8;
    min-height: calc(100vh - 56px);
    padding: 2rem 0;
}

.content-card {
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 16px;
    padding: 1.5rem;
    box-shadow: 0 8px 20px rgba(0,0,0,0.06);
}


    .content-card table thead th {
        background-color: #f8f9fa;
        font-weight: 600;
        border-bottom: 1px solid #dee2e6;
    }

    .content-card table td {
        vertical-align: middle;
    }

p{
    color:white;
}